.git
.gitignore
.dockerignore
.env
.env.*
node_modules
**/node_modules
dist
**/dist
dist-types
**/dist-types
*.tsbuildinfo
**/*.tsbuildinfo
.vite
**/.vite
.ushelf
library/items/*
library/history/*
playwright-report
test-results
coverage
.pnpm-store
.DS_Store
